<div class="users-index">
    <img src="<%= "/user_images/#{@user.image_name}" %>" alt="">
    <p><%= @user.name%> </p>
    <p><%= @user.email%> </p>
    <p><%= link_to("edit", "/users/#{@user.id}/edit") %> </p>
</div>